*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* for the variable */
:root {
    --color: rgb(59, 59, 194);
    --btn:rgb(110, 110, 252);
    --hover:rgb(159, 159, 250);
    --header:rgb(110, 110, 252);
}
/* header stylw */
header {
    position: sticky;
    top: 0;
    padding: 2em;

}
header .wrap {
    display: flex;
    justify-content: space-between;

}
header .wrap ul {
    list-style-type: none;
    
}
header .wrap ul li{
    display: inline;
    margin-left: 3em;
} 


/* style for the main part */
main {
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* file */
#pdf {
    display: none;
}
header {
    
}
/* upload button */
main form input[type=submit] {
    margin-top: 2em;
    width: 10em;
    height: 45px;
    border: none;
    color: white;
    background-color: var(--btn);
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}
main form input[type=submit]:hover{
    font-weight: bold;
    background-color: var(--hover);

}
main form label .fa-cloud-upload{
    font-size: 10em;
    color: grey;
    cursor: pointer;
}
.fa-folder {
    color: grey;
    cursor: pointer;
    font-size: 29em;
}
header nav ul li .fa-question-circle {
    cursor: pointer;
}

.folderEx {
    background-color: rgba(0, 0, 0, 0.863);
    color: white ;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
    display: none;
}

/* style for the first page */
.index {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.692);
}
.index > h3 {
    color: white;
    margin-bottom: 1em;
    text-transform: capitalize;
}
.index span p {
    color: rgb(221, 221, 221);
}
.index .mainBtn{
    padding: 1em;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--btn);
    color: white;
    font-weight: 700;
    margin-top: 1em;

}
/* for small screen */
@media screen and (min-width:300px) and (max-width:768px) {
  
}